* {
    list-style-type: none;
}

:root {

    --main-background-color: rgb(26, 35, 53);
    --secondary-background-color: rgb(0, 0, 12);
    --tertiary-background-color: rgb(218, 214, 214);

    --a-color: rgb(218, 231, 228);
    --a-color-highlight: white;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;

    background-color: var(--main-background-color);
    color: var(--a-color);
}

main {
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--a-color);
    text-decoration: none;
    display: block;
    padding: 5px;


}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

a[href^="http"]::after {
    font: var(--fa-font-solid);
    content: "\f35d";
    font-size: .65em;
    position: relative;
    left: .25rem;
    bottom: .25rem;
}

a:hover {
    color: white;
    font-size: 125%;
}

header {
    position: sticky;
    top: 0px;
    bottom: 0px;
}

.navbar {
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);

    text-align: center;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

.navbar > * {
    margin: 0;
    padding: 0;
}

.navbar h1{
    color:white;
    padding-left: 20px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 0px;
    margin: 0px;
}

.navbar a {
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgba(0, 0, 0, .5);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30vh);
    justify-content: center;
    gap: 1rem;
}

.grid-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.app-section {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    flex-wrap: wrap;
}

.app-section p {
    max-width: 50vh;
}

.app-section iframe {
    grid-row: span 2;

    aspect-ratio: 36/74;
    height: 80vh;
}


.video-frame {
    aspect-ratio: 16/9;
}

.flex {
    display: flex;
}

.hero-section {
    background-color: var(--secondary-background-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: lightgray;

    height: 50vh;
    height: 50svh;

    padding: 5vw;

    text-align: left;
}

.hero-section > * {
    margin: 0;
}

.whisper {
    opacity: 0.3;
}

section {
    padding: 100px;
    padding-top: 0px;
}

section h1 {
    font-size: 4rem;
}

.header {
    padding: 100px;
    background-color:var(--secondary-background-color);
    color: lightgray;
}

.cover-section h1 {
    font-size: 4rem;
    margin: 0;
}
.cover-section h2 {
    margin: 0px;
    font-size: 2rem;
    margin: 0;
}

.cover-section ul {
    list-style-type: none;
    padding: 0px;
}

.cover-section li {
    display: block;
    padding: 2px;
}

.cover2-section {
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.cover2-section ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

.scratch-section {
    display: flex;
}
.scratch-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.scratch-display h3 {
    margin: 0px;
    font-size: 3rem;
}

.fade-in-quick {
    animation: fadeIn 0.25s;
}


.video-editing-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

section h2::before {
    content: '';
    background-color: red;
    display: block;
    position: relative;
    top: 1.75rem;
    right: 1rem;
    width: .5rem;
    height: 1.75rem;
}



@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }