* {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}

*::before, *::after{
    box-sizing: border-box;
}

:root {
    --main-background-color: rgb(26, 35, 53);
    --secondary-background-color: rgb(0, 0, 12);
    --tertiary-background-color: rgb(218, 214, 214);

    --a-color: rgb(218, 231, 228);
    --a-color-highlight: white;

    --navbar-height:
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-background-color);
    color: var(--a-color);
}


.section-highlight {
    background-color: rgb(8, 5, 2);
    box-shadow: 0px 0px 40px 0 black;
}

a {
    color: var(--a-color);
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: white;
    transform: scale(1.05);
}

a[href^="http"]::after {
    font: var(--fa-font-solid);
    content: "\f35d";
    font-size: .65em;
    position: relative;
    left: .25rem;
    bottom: .25rem;
}

h1 {
    font-size: clamp(24px, 10vw, 10vh);
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }


header {    
    position: sticky;
    top: 0px;
    bottom: 0px;
    z-index: 2;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: solid white 1px;
    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);

    transition: transform .2s ease-in-out;
}

@media (max-width: 600px) {
    .navbar{
        justify-content: center;
    }
}

.spaced {
    gap: 5rem;
}

.wrap {
    flex-wrap: wrap;
}

.nav-links a {
    padding: 15px;
    display: block;
    text-align: center;
}

.nav-links a::after {
    content: '';
    display: block;
    position: absolute;

    left: 0;
    bottom: 0;
    
    z-index: 1000;

    width: 100%;
    height: 0em;
    background-color: lightblue;
}

.nav-links a:hover::after {
    height: .1em;
}

.nav-links {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.panel-list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}


.panel-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position:relative;
    
    background-color: rgb(26, 35, 53);
    border-radius: 10px;
    gap: .25rem;
    margin: 0;
    padding: 1rem;

    top:0;
    transition: top ease 0.1s;
}

.panel-list:hover {
    top: -5px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fill, 30vh);
    justify-content: left;

    gap: 1rem;
}

.grid-container > * {
    flex: 0 1 10em;
}

.grid-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.app-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.app-section p {
    max-width: 50vh;
}

.app-frame {
    grid-row: span 2;

    aspect-ratio: 36/74;
    height: 80vh;

    border-radius: 10px;
    margin: 1em;

    border: solid grey 1px;
    box-shadow: 0 0 20px 0 rgba(225,225,225,0.1);
    transition: box-shadow ease-in-out .1s;
}

.app-frame:hover{
    box-shadow: 0 0 20px 0 rgba(225,225,225,0.2);
}

.scratch-frame {
    aspect-ratio: 485/402;
    height: 20vw;
    width: 100%;
    max-height: 60vh;
    max-width: 60vh;
}

.content-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.content-sidebar > *:nth-child(1) {
    display: flex;
    flex-direction: column;

    flex: 1 1 69%;

    align-items: center;
}

.content-sidebar > *:nth-child(2) {
    display: flex;
    flex-direction: column;

    flex: 1 1 30%;
    align-items: center;
    min-width: 30ch;

}

.yt-video {
    aspect-ratio: 16/9;
    width: 100%;
    max-height: 60vh;
    max-width: 60vh;

    border: none;
}


.video-frame {
    aspect-ratio: 16/9;
}

.flex {
    display: flex;
}



.whisper {
    opacity: 0.3;
}

.unselectable {
    pointer-events: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

section {
    padding-left: calc(10vw);
    padding-right: calc(10vw);
    padding-top: calc(5vh);
    padding-bottom: calc(5vh);
    overflow-x: hidden;
}

.mouse-circle {
    position: relative;
    width: 0px;
    height: 0px;
}

.mouse-circle-content {
    width: 50vh;
    height: 50vh;
    background-color: rgb(225,225,225, .02);
    border-radius: 100%;
    transition: transform .1s ease-in-out; 
}

.mouse-circle-grow {
    transform: scale(0.9);
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--secondary-background-color);
    padding: 0px;
    height: 25%;

}

.call-to-action {
    background-color: coral;
    color: black;

    font-weight: 400;

    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border: none;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 0px coral;

    transition: 
        background-color .08s linear,
        color .08s linear;
}

.call-to-action:hover {
    background-color: rgb(189, 12, 12);
    color: white;

    transition: 
        background-color .08s linear,
        color .08s linear;
}

.center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.hero-section {

    box-sizing: border-box;
    background-color: var(--secondary-background-color);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: lightgray;

    padding: 0;
    margin: 0;
    height: 100%;

    min-height: 100%;

    text-align: left;
}

.clip {
    overflow: hidden;
}


.cover-section ul {
    list-style-type: none;
    padding: 0px;
}

.cover-section li {
    display: block;
    padding: 2px;
}

.cover2-section {
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.cover2-section ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

.scratch-section {
    display: flex;
    
}
.scratch-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.scratch-display h3 {
    margin: 0px;
    font-size: 3rem;
}

.fade-in-quick {
    animation: fadeIn 0.25s;
}


.video-editing-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

section h2 {
    position: relative;
    display: inline-block;
    z-index: 1;

    animation: h2-anim .5s forwards;

}

section h2::before {
    content: '';
    background-color: red;
    display: block;
    position: absolute;
    left: -.3em;

    bottom: 0;

    width: .15em;
    height: 100%;

    z-index: -1;


}


@keyframes pop {
    0%, 100% {
        transform: scale(100%, 100%);

    }
    50% {
        transform: 
            scale(101%, 101%);

    }
}